extends layout

block content
	if typeof data.imp !== 'undefined'
		if data.imp == '1'
			- var one = true
		if data.imp == '2'
			- var two = true
		if data.imp == '3'
			- var three = true
		if data.imp == '4'
			- var four = true
	else
		- var one = true
	h1= title
	section
		form(method='post')
			if data.imp
				input(type='hidden' name='old' value=data.crit)
			.row.uniform
				div(class='12u')
					label(for='crit') Criteria
				div(class='6u$')
					input#crit(type='text', name='crit', required, value=data.crit)
			.row.uniform
				div(class='12u')
					label Importance
				div(class='1u 6u$(small)')
					input#imp1(type='radio', name='imp', value='1', checked=one)
					label(for='imp1') 1
				div(class='1u 6u$(small)')
					input#imp2(type='radio', name='imp', value='2', checked=two)
					label(for='imp2') 2
				div(class='1u 6u$(small)')
					input#imp3(type='radio', name='imp', value='3', checked=three)
					label(for='imp3') 3
				div(class='1u$ 6u$(small)')
					input#imp4(type='radio', name='imp', value='4', checked=four)
					label(for='imp4') 4
				div(class='-2u 6u 12u$(small)')
					ul(class='actions')
						li
							input(type='submit' value='Apply Criteria' class='special')
						li
							input(type='reset' value='Reset')